!!!
%html
  %head
    %title test
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{src:'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js'}
    %link{rel: 'stylesheet', href: 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.min.css'}
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.min.js"}
    -# %script{src: "https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.min.js"}
    -# %script{src: "../dest/commet.js"}
    %script{src: "../dest/main.js"}
  %body
    .container
      %textarea#casl
        = "PROGRAM START\n LD GR1,DATA\n ST GR1,DATA1\n RET\nDATA DC 10\nDATA1 DS 1\n END\n"
      %table.table#memory
        %th ADDR
        %th{colspan: 4} DATA


      %button#compile.btn.btn-primary compile
      %button#exec.btn.btn-primary execute
